.album-card {
    margin: 1rem;
}

.album-card h3 {
    margin-top: 1rem;
}

.detail {
    padding: 0;
    border: none;
    font: inherit;
    color: black;
    background-color: transparent;
}

.unselected{
    opacity: 0;
    transition: opacity .5s linear;
}
  
.selected{
    opacity: 1;
    transition: opacity .5s linear;
}
