.album-card {
    margin: 1rem;
    transition: opacity 0.5s;
}

.album-card h3 {
    margin-top: 1rem;
}

.detail {
    padding: 0;
    border: none;
    font: inherit;
    color: black;
    background-color: transparent;
}


.fade-out {
    animation-name: fadeOutAnimation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeOutAnimation {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  