* {
    box-sizing: border-box;
}

ul {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
    list-style: none;
}

.fadeable {
    transition-property: all;
    transition-duration: 1s;
    opacity: 1;
}

.backdrop {
    background-image: url(../../assets/noirlac3.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
  }
