.music {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    justify-content: space-evenly;
    transition: justify-content 1s ease-in-out;
}

.music.album-active {
    justify-content: flex-start;
}

@keyframes slideIn {
    0% {
        justify-content: space-evenly;
    }
    100% {
        justify-content: flex-start;
    }
}