* {
  box-sizing: border-box;
}

.container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background-color: #3E3B39;
  color: #E3BF65;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: 80px;
}

.site-title {
  margin-left: 2rem;
  font-size: 2rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
  transition: color 0.3s linear;
   -webkit-transition: color 0.3s linear;
   -moz-transition: color 0.3s linear;
}

.nav a:hover {
  color: #D8EABF;
}

.nav li.active {
  background-color: #AC5FAE;
}

.homepage {
  background-image: url("../../assets/battle2.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  filter: grayscale(1) opacity(.7);
}