* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: inherit
}

@font-face {
  font-family: 'GamerBold';
  src: url(./assets/GamerBold.ttf);
   /*other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
